* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, blue, pink);
}

.conatiner {
    min-height: 100vh;
    width: 100vw;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin: 100px auto 20px;
}

.todo-app h2 {
    font-size: 26px;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.todo-app h2 img {
    height: 35px;
    margin-left: 10px;


}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: 25px;
    margin-bottom: 20px;
    border-radius: 30px;


}

.row input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 17px;
    padding: 10px;

}

.row button {
    background-color: orangered;
    border: none;
    outline: none;
    padding: 16px 50px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;

}

.row button i {
    margin-left: 10px;
}

ul li {
    font-size: 19px;
    padding: 10px 10px 10px 50px;
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li::before {
    content: "";
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 10px;

}

ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    top: 5;
    right: 0;
    height: 40px;
    width:40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
ul li span:hover{
    color: white;
    background-color: red;
}